In [1]:
%run func_def.ipynb

imports loaded.

Pre-Processing func:
********************
    get_height(item)
    get_weight(item)
    get_reach(item)
    get_std_reach(item, height, reach_list, height_list)
    get_age(item)
    get_std_age(item, age_list)
    get_win_perc(name, date, df)
    get_lose_streak_data_frame(name, date, df)
    get_win_streak_data_frame(name, date, df)
    get_streak_data_frame(name, date, df)
    get_win_streak(name, date, df)
    get_lose_streak(name, date, df)
    get_fighter_stats(name, data )
    add_columns(data, column_list)

Feature Engineering func:
*************************
    get_stat(index, data, stat='height', fo='')
    get_swaped_row(index, data)
    get_wins(combo, data)
    get_wins_ratio(combo, data)

fight_stats_model_training func:
********************************
    get_sig_features(data, sig_r)
    get_r_score(X, y)
    set_train_test(X_columns, y_columns, data, test_size=0.3, valid_size=0.3)
    set_knn_reg(X_columns, y_columns, data, n=5)
    set_predictions(model, data, X_columns, y_columns)
    get_rmse(act, pred)
    get_grad_descent_step(alpha, X_columns, y_columns, data, n)

fight_result_model_training func:
*********************************
    set_knn_clf(X_columns, y_columns, data, neighbors=3)
    get_knn_grad_step( X_columns, y_columns, data, neighbors)
    get_model_evaluation(data)
    get_accuracy(act, pred)
    get_knn_clf_param(filename)

Prediction func:
****************
    get_current_date()
    get_win_perc(fighter, data)
    get_lose_streak(fighter, data)
    get_win_streak(fighter, data)
    get_td_avg(fighter, data)
    get_td_acc(fighter, data)
    get_td_def(fighter, data)
    get_str_acc(fighter, data)
    get_str_def(fighter, data)
    get_sub_avg(fighter, data)
    get_sapm(fighter, data)
    get_slpm(fighter, data)
    get_stance(fighter, data)
    get_stance_wins_ratio(fighter, data)
    set_new_fight(fighter, opponent, data)
    set_knn_predictor(X_columns, y_columns, data, n=5)
    set_knn_predictions(model, data, X_columns, y_columns)
    set_knn_clf_predictor(X_columns, y_columns, data, neighbors)
    set_pred_results(model, data, X_columns, y_columns)
    get_fighters_stats(fighter, opponent, data)
    get_winner(fighter=fighter, opponent, data)

micro_model_training func:
**************************
    get_losses(fighter, data)
    get_wins(fighter, data)

## <span style='color:blue'> Insert new fight: </span>

In [2]:
fighter = 'Islam Makhachev'
opponent = 'Alexander Volkanovski'

## Fight Preview:

In [3]:
loc = '../data/'
file = 'ufc_fighters_stats_processed.csv'
stats = pd.read_csv(loc+file)
stats = stats[stats.columns[1:]]
print('Data Frame loaded: '+str(stats.shape))
get_fighters_stats(fighter=fighter, opponent=opponent, data=stats)

Data Frame loaded: (11198, 17)

          Islam Makhachev Alexander Volkanovski
wins                   23                    25
losses                1.0                   1.0
draws                   0                     0
height              177.8                167.64
weight              69.75                 65.25
reach               177.8                180.34
stance           Southpaw              Orthodox
age                  31.0                  34.0
slpm                 2.37                  6.79
str. acc.            0.59                  0.57
sapm                 0.95                  3.53
str. def             0.66                   0.6
td avg.              3.42                  1.71
td acc.              0.65                  0.36
td def.              0.88                  0.73
sub. avg.             1.3                   0.2

## <span style='color:green'> [done] </span> predict fight statistics:

In [4]:
loc = '../data/'
file = 'fight_stat_data_trained.csv'
df = pd.read_csv(loc+file)
df = df[df.columns[1:len(df.columns)-4]]
df.date = pd.to_datetime(df.date)
print('Data Frame loaded: '+str(df.shape))
df.tail(3)

Data Frame loaded: (6731, 21)

,set,date,fighter,opponent,result,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif
6728,train,2017-07-29,Aleksandra Albu,Kailin Curran,win,0.011068,-0.133163,1.590190,0.001133,0.157318,-0.236546,0.544717,-0.194404,0.584680,0.331559,0.477663,-1.248515,0.270739,2.060202,0.599149,-2.164903
6729,train,2017-07-29,Jarred Brooks,Eric Shelton,win,0.011068,-0.133163,1.590190,0.001133,0.960129,0.218076,0.779264,0.377632,-0.294627,0.331559,-0.151239,-0.070965,-0.507334,0.015847,0.026948,-1.087573
6730,train,2017-07-29,Drew Dober,Joshua Burkman,win,1.365610,0.167994,0.011143,0.001133,-0.985573,-0.656198,-0.594516,-0.194404,1.116061,-0.236000,0.611992,0.013146,0.985268,0.143619,0.026948,-2.164903

#### <span style='color:green'> [done] </span> set new fight:

In [5]:
df = pd.concat([df,set_new_fight(fighter=fighter, opponent=opponent, data=df)], ignore_index=True)
df.tail(3)

,set,date,fighter,opponent,result,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif
6729,train,2017-07-29,Jarred Brooks,Eric Shelton,win,0.011068,-0.133163,1.59019,0.001133,0.960129,0.218076,0.779264,0.377632,-0.294627,0.331559,-0.151239,-0.070965,-0.507334,0.015847,0.026948,-1.087573
6730,train,2017-07-29,Drew Dober,Joshua Burkman,win,1.36561,0.167994,0.011143,0.001133,-0.985573,-0.656198,-0.594516,-0.194404,1.116061,-0.236000,0.611992,0.013146,0.985268,0.143619,0.026948,-2.164903
6731,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,None,None,None,None,None,1.710000,0.290000,0.150000,1.100000,-4.420000,0.020000,-2.580000,0.060000,-0.004158,0.000000,-1.000000,0.000000

#### <span style='color:green'> [done] </span> get optimized knn parameters:

In [6]:
param = pd.read_csv('../global_variables/ml_models_parameters.csv').drop(columns=['Unnamed: 0'])
knn_reg = param[param.ml_model=='knn_reg'].reset_index(drop=True)
neighbors = int(knn_reg.value[0])
print('KNN optimized neighbors number = %d' %neighbors)
knn_reg

KNN optimized neighbors number = 29

  ml_model parameter_name  value  accuracy
0  knn_reg      neighbors     29     0.681

#### <span style='color:green'> [done] </span> define X & y:

In [7]:
req_data = ['set','date','fighter','opponent','result']
y = ['kd_dif','str_dif','td_dif','sub_dif']
X = ['td avg._dif',
     'td acc._dif',
     'td def._dif',
     'sub. avg._dif',
     'slpm_dif',
     'str. acc._dif',
     'sapm_dif',
     'str. def_dif',
     'stance_win_ratio',
     'win_perc_dif',
     'win_strk_dif',
     'lose_strk_dif']
df = df[req_data + y + X]
df.head(3)

,set,date,fighter,opponent,result,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif
0,train,2022-09-03,Ciryl Gane,Tai Tuivasa,win,0.011068,3.06663,0.011143,0.001133,0.352446,0.742640,0.109127,0.472971,0.616310,0.736959,-1.231975,1.443028,-1.616731,0.399163,-2.834057,1.067086
1,test,2022-09-03,Robert Whittaker,Marvin Vettori,win,0.011068,1.560845,0.405905,0.001133,-0.589742,-0.236546,0.343675,-0.575761,0.167167,-0.154920,-0.212298,0.181367,-1.616731,0.143619,-0.545253,1.067086
2,validation,2022-09-03,Joaquin Buckley,Nassourdine Imavov,lose,0.011068,-0.170807,-0.77838,-1.693534,0.229794,0.253047,-0.326462,-2.291867,-0.307279,-1.776519,0.587569,-0.659740,0.985268,-0.086371,0.599149,-0.010244

#### <span style='color:green'> [done] </span> train knn model:

In [8]:
knn_reg = set_knn_reg(X_columns=X, y_columns=y, data=df, n=neighbors)
df = set_predictions(model=knn_reg, X_columns=X, y_columns=y, data=df)
df.tail(1)

,set,date,fighter,opponent,result,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif,kd_dif_pred,str_dif_pred,td_dif_pred,sub_dif_pred
6731,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,None,None,None,None,None,1.71,0.29,0.15,1.1,-4.42,0.02,-2.58,0.06,-0.004158,0.0,-1.0,0.0,-0.269182,-0.269182,-0.269182,-0.269182

#### <span style='color:green'> [done] </span> save new fight data:

In [9]:
new_fight = df[df['set']=='new'].copy()

for stat in ['kd_dif','str_dif','td_dif','sub_dif']:
    new_fight[stat] = new_fight[stat+'_pred']
    
new_fight = new_fight[new_fight.columns[0:len(new_fight.columns)-4]].reset_index(drop=True)
new_fight

,set,date,fighter,opponent,result,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif
0,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,None,-0.269182,-0.269182,-0.269182,-0.269182,1.71,0.29,0.15,1.1,-4.42,0.02,-2.58,0.06,-0.004158,0.0,-1.0,0.0

In [10]:
loc = '../data/'
file = 'new_fight_data.csv'
pd.DataFrame(data=new_fight).to_csv(loc+file)
print(loc + file + ' saved.')

../data/new_fight_data.csv saved.

## <span style='color:green'> [done] </span> predict fight results:

In [11]:
loc = '../data/'
file = 'fight_results_data_trained.csv'
df = pd.read_csv(loc+file)
df = df[df.columns[1:len(df.columns)-1]]
df.date = pd.to_datetime(df.date)
print('Data Frame loaded: '+str(df.shape))
df.tail(3)

Data Frame loaded: (6731, 21)

,set,date,fighter,opponent,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif,result
6728,train,2017-07-29,Aleksandra Albu,Kailin Curran,0.011068,-0.133163,1.590190,0.001133,0.157318,-0.236546,0.544717,-0.194404,0.584680,0.331559,0.477663,-1.248515,0.270739,2.060202,0.599149,-2.164903,win
6729,validation,2017-07-29,Jarred Brooks,Eric Shelton,0.011068,-0.133163,1.590190,0.001133,0.960129,0.218076,0.779264,0.377632,-0.294627,0.331559,-0.151239,-0.070965,-0.507334,0.015847,0.026948,-1.087573,win
6730,validation,2017-07-29,Drew Dober,Joshua Burkman,1.365610,0.167994,0.011143,0.001133,-0.985573,-0.656198,-0.594516,-0.194404,1.116061,-0.236000,0.611992,0.013146,0.985268,0.143619,0.026948,-2.164903,win

In [12]:
new_fight = new_fight[df.columns[0:len(df.columns)-1]]
new_fight

,set,date,fighter,opponent,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif
0,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,-0.269182,-0.269182,-0.269182,-0.269182,1.71,0.29,0.15,1.1,-4.42,0.02,-2.58,0.06,-0.004158,0.0,-1.0,0.0

In [13]:
df = pd.concat([df,new_fight],ignore_index=True)
df.tail(3)

,set,date,fighter,opponent,kd_dif,str_dif,td_dif,sub_dif,td avg._dif,td acc._dif,td def._dif,sub. avg._dif,slpm_dif,str. acc._dif,sapm_dif,str. def_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif,result
6729,validation,2017-07-29,Jarred Brooks,Eric Shelton,0.011068,-0.133163,1.59019,0.001133,0.960129,0.218076,0.779264,0.377632,-0.294627,0.331559,-0.151239,-0.070965,-0.507334,0.015847,0.026948,-1.087573,win
6730,validation,2017-07-29,Drew Dober,Joshua Burkman,1.36561,0.167994,0.011143,0.001133,-0.985573,-0.656198,-0.594516,-0.194404,1.116061,-0.236000,0.611992,0.013146,0.985268,0.143619,0.026948,-2.164903,win
6731,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,-0.269182,-0.269182,-0.269182,-0.269182,1.710000,0.290000,0.150000,1.100000,-4.420000,0.020000,-2.580000,0.060000,-0.004158,0.000000,-1.000000,0.000000,NaN

#### <span style='color:green'> [done] </span> get optimized KNN classifier parameters:

In [14]:
param = pd.read_csv('../global_variables/ml_models_parameters.csv').drop(columns=['Unnamed: 0'])
knn_clf = param[param.ml_model=='knn_clf'].reset_index(drop=True)
n = int(knn_clf.value[0])
print('KNN classifier neighbors number = %d' %neighbors)
knn_clf

KNN classifier neighbors number = 29

  ml_model parameter_name  value  accuracy
0  knn_clf      neighbors     64  0.845397

#### <span style='color:green'> [done] </span> train KNN classifier model:

In [15]:
req_data = ['set','date','fighter','opponent']
y = ['result']
X = ['kd_dif','str_dif','td_dif','sub_dif',
    #'td avg._dif','td acc._dif','td def._dif','sub. avg._dif',
    #'slpm_dif','str. acc._dif','sapm_dif','str. def_dif',
    'stance_win_ratio','win_perc_dif','win_strk_dif','lose_strk_dif']

df = df[req_data + X + y]
df.tail(3)

,set,date,fighter,opponent,kd_dif,str_dif,td_dif,sub_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif,result
6729,validation,2017-07-29,Jarred Brooks,Eric Shelton,0.011068,-0.133163,1.59019,0.001133,-0.507334,0.015847,0.026948,-1.087573,win
6730,validation,2017-07-29,Drew Dober,Joshua Burkman,1.36561,0.167994,0.011143,0.001133,0.985268,0.143619,0.026948,-2.164903,win
6731,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,-0.269182,-0.269182,-0.269182,-0.269182,-0.004158,0.000000,-1.000000,0.000000,NaN

In [16]:
knn_clf = set_knn_clf(X_columns=X, y_columns=y, data=df, neighbors=n)
df = set_predictions(model=knn_clf, data=df, X_columns=X, y_columns=y)
df.tail(3)

,set,date,fighter,opponent,kd_dif,str_dif,td_dif,sub_dif,stance_win_ratio,win_perc_dif,win_strk_dif,lose_strk_dif,result,result_pred
6729,validation,2017-07-29,Jarred Brooks,Eric Shelton,0.011068,-0.133163,1.59019,0.001133,-0.507334,0.015847,0.026948,-1.087573,win,win
6730,validation,2017-07-29,Drew Dober,Joshua Burkman,1.36561,0.167994,0.011143,0.001133,0.985268,0.143619,0.026948,-2.164903,win,win
6731,new,2023-02-12,Islam Makhachev,Alexander Volkanovski,-0.269182,-0.269182,-0.269182,-0.269182,-0.004158,0.000000,-1.000000,0.000000,NaN,lose

#### <span style='color:green'> [done] </span> Final Prediction:

In [17]:
param = pd.read_csv('../global_variables/ml_models_parameters.csv').drop(columns=['Unnamed: 0'])
param

  ml_model parameter_name  value  accuracy
0  knn_reg      neighbors     29  0.681000
1  knn_clf      neighbors     64  0.845397

In [18]:
print('--------------------------------------')
print('%s vs %s:' %(fighter, opponent))
print('--------------------------------------')
print('Winner: ' + get_winner(fighter=fighter, opponent=opponent, data=df))
print('Pridiction Accuracy: %.5f' %float(param.accuracy[param.ml_model=='knn_clf']))
print('--------------------------------------')
get_fighters_stats(fighter=fighter, opponent=opponent, data=stats)

--------------------------------------
Islam Makhachev vs Alexander Volkanovski:
--------------------------------------
Winner: Alexander Volkanovski
Pridiction Accuracy: 0.84540
--------------------------------------

          Islam Makhachev Alexander Volkanovski
wins                   23                    25
losses                1.0                   1.0
draws                   0                     0
height              177.8                167.64
weight              69.75                 65.25
reach               177.8                180.34
stance           Southpaw              Orthodox
age                  31.0                  34.0
slpm                 2.37                  6.79
str. acc.            0.59                  0.57
sapm                 0.95                  3.53
str. def             0.66                   0.6
td avg.              3.42                  1.71
td acc.              0.65                  0.36
td def.              0.88                  0.73
sub. avg.             1.3                   0.2